/* ============================================================= Général */

html,
body {
    margin: 0;
    padding: 0;
}

.black {
    background: black;
}

.red {
    background: red;
}

.blue {
    background: blue;
}

.green {
    background: green;
}

/* ============================================================= Popup */

#popup {
    background: lightcoral;
    color: white;
}

#main {
    padding: 3vh;
    font-family: 'Open Sans', sans-serif;
}

h1 {
    text-align: center;
}

p {
    text-align: justify;
}

/* ============================================================= Joueur */

#player {
    position: absolute;
    width: 4vw;
    height: 4vw;
    background-color: pink;
    border-radius: 8px;
    margin: 0;
    padding: 0;
}

/* Pour les ecrans non HD, on reduit legerement la proportion du joueur */
@media only screen and (min-width: 1366px) { 
    #player {
        width: 3vw;
        height: 3vw;
    }
}

/* ============================================================= Obstacles */

.obstacle {
    position: absolute;
    border-radius: 8px;
    margin: 0;
    padding: 0;
}

.separation {
    top: 6vh;
    left: 0;
    width: 100vw; 
    height: 1vh;
    border-radius: 0px;
}

.arrival {
    position: absolute;
    background-color: green;
    border-radius: 0px;
}

/* ============================================================= Affichage */

#espaceHaut {
    display: flex;
    justify-content: center;
}

#boutonRules,
#boutonMusic,
#gameInfo{
    flex: 2;
    display: flex;
    justify-content: center;
}

#time {
    flex: 2;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* ============================================================= Boutons */

button,
select {
    cursor: pointer;
    margin: 1vh;
    padding: 1vh;
    background: white;
    border: 2px solid black;
    border-radius: 10px;
    min-width: 10vw;
    height: auto;
    text-transform: uppercase;
}

button:hover {
    color: lightcoral;
    border: 2px solid lightcoral;
}

button:active {
    border: 2px solid lightcyan;
}
